@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600&display=swap');

/*-----style------
*{
    margin:0 ;
    padding:0 ;
    font-family:'Poppins' sans-serif;
    box-sizing:border-box ;
}   
                   --------------*/
:root{
    --bg-black-100: rgb(3, 3, 3);
    --bg-black-50: #445a44;
    --text-black-50: hsl(120, 86%, 67%);
    --text-black-900: #e9f08e;
    --skin-color: #ec1839;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: "Poppins", sans-serif;
}

body{

    background: #080808 ;
    color: var(--text-black-900) ;
}
#header{
    width: 100% ;
    height: 100vh ;
    background-image: url(../images/background.png);
    background-size: cover ;
    background-position: center;
}
 .container {
    padding:10px 10% ;
}
nav {
    display:flex ;
    align-items:center ;
    justify-content: space-between ;
    flex-wrap:wrap ;
}
 .logo {
    width:180px ;
}
nav ul li {
    display:inline-block ;
    list-style:none ;
    margin:10px 20px ;
}
nav ul li a {
    color:var(--skin-color);
    text-decoration:solid ;
    font-size:23px ;
    position: relative ;
}
nav ul li a::after {
    content:' ' ;
    width:0 ;
    height:3px ;
    background:var(--skin-color);
    position:absolute ;
    left:0 ;
    bottom:-6px ;
    transition:0 .5s ;
}
nav ul li a:hover::after {
    width:100% ;
}

 .header-text {
    margin-top:20% ;
    font-size:30px ;
}
 .header-text p{
    font-size:45px ;
}
 .header-text p span{
    color: chartreuse;
}

 .header-text h1 {
    font-size:45px ;
    margin-top:15px ;
}
 .header-text h1 span{
    color:#eeff00;
}
 .header-text h3 span{
    color:var(--skin-color);
}


/*-----------about 2 .0-----*/
.section .container{
    padding-bottom:30px ; 
}

 .section-title{
    flex:0 0 100% ;
    max-width:100% ;

}

.section-title h2{
text-align:left;
font-size: 50px;
color: var(--text-black-900) ;
font-weight: 600;
position : relative;}

.section-title h2::before{
content:'';
height: 4px;
width: 180px;
background-color : var(--skin-color) ;
position : absolute;
top: 100%;
left: 0;
}
.section-title h2::after{
    content:'';
    height: 4px;
    width: 130px;
    background-color : var(--skin-color) ;
    position : absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
    }

.section-title h2{
    margin-top: 5%;
}


.row{
        display: flex;
        flex-wrap: wrap;
        margin-left : -15px;
        margin-right: -15px;
        position: relative;
}
.btn{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: yellow;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background : var(--skin-color) ;
    transition : all 0.3s ease;
    }
    
.btn:hover{
    transform: scale(1.05) ;
}

.shadow-dark{
box-shadow: 0 20px rgba(48, 46, 77, 0.1s);
}

.main-content{
padding-left : 27px;}
.padd-15{
padding-left : 15px;
padding-right : 15px;}

 .about-content
{
flex: 0 0 100%;
max-width: 100%;
}
 .about .about-content .about-text
{
flex: 0 0 100%;
max-width: 100%;
}
 .about .about-content .about-text h3{
    padding-top: 50px;
    font-size:25px;
    font-weight: 300;
    color: var(--text-black-50);
    }
 .about .about-content .about-text h4{
    padding-top: 20px;
    font-size:25px;
    font-weight: 300;
    color: var(--text-black-50);
}
 .about .about-content .about-text p1{
    padding-top: -8px;
    font-size:20px;
    line-height: 22px;
    color: var(--text-black-700);
    }

 .about .about-content .personal-info{
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 10px;
}

 .about .about-content .personal-info .info-item{
    flex: 0 0 50%;
    max-width: 50%;

}
 .about .about-content .personal-info .info-item p{
    font-weight: 400;
    padding: 10px 0;
    font-size: 20px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}
 .about .about-content .personal-info .info-item p span{
    font-size: 18px;
    font-weight: 400;
    color: var(--skin-color);
    margin-left: 4px;
    display: inline-block;}
 .about .about-content .personal-info .buttons{
    margin-top: 25px;
}
 .about .about-content .personal-info .buttons .btn{
    margin-right: 10px;
    margin-top: 10px;
}
.about .about-content .skills{
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 10px;
}
.about .about-content .skills .skill-item{
flex: 0 100%;
max-width: 100%;
}

.about .about-content .skills .skill-item h5{
line-height: 40px;
font-weight: 600;
font-size: 16px;
color: var(--text-black-900) ;
text-transform : capitalize;
}
.about .about-content .skills .skill-item .progress{
background-color : var(--bg-black-50) ;
height: 7px;
border-radius: 4px;
width:100%;
position: relative;
}
.about .about-content .skills .skill-item{
margin-bottom : 25px;}
.about .about-content .skills .skill-item .progress .progress-in{
position: absolute;
left: 0;
top: 0;
height: 100%;
border-radius : 4px;
background-color: var(--skin-color)
}

.about .about-content .skills .skill-item .skill-percent{
position: absolute;
right: 0;
color: var(--text-black-900) ;
top:-40px;
font-weight: 400;
line-height: 40px;
}

.about .about-content .education,
.about .about-content .experience{
flex: 0 50%;
max-width: 50%;
margin-top: 30px;}
.about .about-content h3.title{
font-size: 24px;
margin-bottom : 30px;
font-weight: 700;
color: var(--text-black-900) ;
}

.about .about-content .timeline-box{
flex: 0 100%;
max-width: 100%;
}
.about .about-content .timeline{
background-color : var(--bg-black-100);
padding: 30px 15px;
border: 1px solid var(--bg-black-50) ;
border-radius: 10px;
width: 100%;
position: relative;
}

.about .about-content .timeline .timeline-item{
position : relative;
padding-left : 37px;
padding-bottom : 50px;
}
.about .about- content .timeline .timeline-item:last-child{
padding-bottom: -3px;}
.about .about-content .timeline .timeline-item::before{
content: '';
width: 1px;
position: absolute;
height: 100%;
left: 7px;
top: 0;
background-color: var(--skin-color);
}

.about .about-content .timeline .circle-dot{
position: absolute;
left: 0;
top: 0;
height: 15px;
width: 15px;
border-radius : 50%;
background-color : var(--skin-color) ;
}

.about .about-content .timeline .timeline-date{
font-weight: 400;
font-size: 14px;
margin-bottom : 12px;
color: var(--text-black-700);
}

.about .about-content .time line .timeline-date .fa{
margin-right: 5px;
}
.about .about-content .timeline .timeline-title{
font-weight: 700;
font-size: 18px;
margin-bottom : 15px;
text-transform : capitalize;
color: var(--text-black-900) ;
}
.about .about-content .timeline .timeline-text{
line-height: 25px;
font-size: 16px;
text-align: justify;
color: var(--text-black-700);
}

/*-------------------services 2---------------*/
.service .container{
    padding-bottom: 0px;
}
.service .service-item{
margin-bottom : 30px;
flex: 0 0 33.33%;
max-width: 33.33%;
}

.service .service-item .service-item-inner{
background-color : var(--bg-black-100) ;
border: 4px solid var(--bg-black-50);
border-radius : 10px;
padding: 30px 30px;
text-align: center;
transition : all 0.3s ease;
}

.service .service-item .service-item-inner:hover{
box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.service .service-item .service-item-inner .icon{
height: 65px;
width: 65px;
border-radius: 50%;
display: block;
margin: 0 auto 30px;
text-align: center;
transition: all 0.3s ease;
}

.service .service-item .service-item-inner .icon .fa{
margin-top: 5%;
Font-size: 35px;
line-height: 60px;
color: var(--skin-color);
transition: all 0.3s ease;
}

.service .service-item .service-item-inner:hover .icon{
background: var(--skin-color) ;
}
.service .service-item .service-item-inner:hover .icon .fa{
font-size: 25px;
color: #ffffff;
}
.service .service-item .service-item-inner h4
{
font-size: 18px;
color: var(--text-black-900) ;
font-weight: 700;
text-transform : capitalize;
}

.service .service-item .service-item-inner p{
font-size: 16px;
color: var(--text-black-700) ;
line-height: 25px;
}
/*-----------------Contact-----------*/
.contact-title
{
margin-top: 8%;
color: var(--skin-color) ;
text-align: center;
font-size: 25px;
margin-bottom : 10px;
}
.contact-sub-title{
color: var(--text-black-900) ;
text-align: center;
font-size: 15px;
margin-bottom: 60px;
}

.contact .contact-info-item{
cursor: pointer;
flex: 0 0 25%;
max-width: 25%;
text-align: center;
margin-bottom: 60px;
}
.contact .contact-info-item .icon{
display: inline - block;
}
.contact .contact-info-item .icon .fa{
font-size: 25px;
color: var(--skin-color) ;
}
.contact.contact-info-item h4{
font-size: 18px;
font-weight: 700;
color: var(--text-black-900) ;
text-transform: capitalize;
margin: 15px 0 5px;
}
.contact .contact-info-item p{
font-size: 16px;
line-height: 25px;
color: var(--text-black-700);
font-weight: 400;
}
.contact .contact-form{
flex: 0 100%;
max-width: 100%;
}
.contact .contact-form .col-6{
flex: 0 0 50%;
max-width: 50%;
}
.contact .contact-form .col-12{
flex: 0 0 100%;
max-width: 100%;
}
.contact .contact-form .form-item
{
margin-bottom : 30px;
}

.contact .contact-form .form-item .form-control{
width: 100%;
height: 50px;
border-radius : 25px;
background: var(--bg-black-100);
border: 3px solid var(--bg-black-50) ;
padding: 10px 25px;
font-size: 16px;
color: var(--text-black-700) ;
transition: all 0.3s ease;
}
.contact .contact-form .form-item .form-control:focus{
box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.contact .contact-form .form-item textarea .form-control{
height: 340px;
}

.contact .contact-form .btn{
cursor: pointer;
height: 40px;
padding: 0 30px;
}

/*-----------------------footer------------------------------------*/

.footer {
    background-color: #222;
    padding: 6rem 0;
  }
  
  .footer .grid-4 {
    display: grid;
    grid-template-columns: 3.5fr 2fr 2fr 3fr;
  }
  
  .grid-4-col {
    padding: 0 1.7rem;
  }
  
  .footer .title-sm {
    color: #fafafa;
    margin-bottom: 0.9rem;
  }
  
  .footer .text {
    color: #aaa;
  }
  
  .footer-links a {
    color: #888;
    font-size: 1.25rem;
    display: inline-block;
    margin-bottom: 0.4rem;
    transition: 0.3s;
  }
  
  .footer-links a:hover {
    color: var(--main-color);
  }
  
  .footer-input-wrap {
    display: grid;
    grid-template-columns: auto 50px;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 1.2rem;
  }
  
  .footer-input {
    background: #373737;
    color: #333;
    outline: none;
    border: none;
    padding: 0 1.5rem;
    font-size: 1.1rem;
    transition: 0.3s;
  }
  
  .input-arrow {
    color: #fff;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.45rem;
    transition: all 0.3s ease-in;
  }
  
  .input-arrow:hover {
    background-color: #6b44e0;
  }
  
  .focus {
    background: #fff;
  }
  
  .bottom-footer {
    margin-top: 5.5rem;
    padding: 0 1.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .copyright .text {
    color: #7b7b7b;
    font-size: 1.2rem;
    display: inline-block;
    text-align: center;
  }
  
  .copyright .text span {
    color: var(--main-color);
    cursor: pointer;
  }
  
  .followme-wrap {
    display: flex;
  }
  
  .followme {
    display: flex;
    align-items: center;
  }
  
  .followme h3 {
    color: #7b7b7b;
    font-weight: 500;
    font-size: 1.3rem;
  }
  
  .followme .footer-line {
    width: 60px;
    height: 2px;
    background-color: #7b7b7b;
    margin: 0 1.2rem;
    display: inline-block;
  }
  
  .social-media a {
    color: #7b7b7b;
    font-size: 1.3rem;
    margin-right: 0.4rem;
    transition: 0.3s;
  }
  
  .social-media a:hover {
    color: var(--main-color);
  }
  
  .back-btn-wrap {
    position: relative;
    margin-left: 2.5rem;
  }
  
  .back-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    background-color: var(--main-color);
    border-radius: 50%;
    color: #fff;
    font-size: 1.2rem;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
    position: relative;
    z-index: 2;
  }
  
  .back-btn:hover {
    background-color: #6b44e0;
  }
  
  .back-btn-wrap:before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #fff;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    border-radius: 50%;
    opacity: 0.08;
    animation: scale 1.2s ease-out infinite 1s;
  }
  
  @keyframes scale {
    0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0.15;
    }
  
    100% {
      transform: translate(-50%, -50%) scale(1.6);
      opacity: 0;
    }
  }
  

.copyright i{
    color: #ff004f;
}

nav .fas{
    display: none;
}

@media only screen and (max-width: 600px){
    #header{
        background-image : url(../images/phone-background.png);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
    font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: black;
        position: fixed;
        top: 0;
        right:-170px;
        width: 170px;
        height: 100vh;
        padding-top: 50px;
        opacity:initial;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
}
@media (max-width: 1199px)
{
    .main-content{
        padding-left: 0;
    }
    .about .about-content .personal-info .info-item p span
    {
        display: block;
        margin-left: 0;
    }
}

@media (max-width:991px)
{
.contact .contact-info-item,
.portfolio .portfolio-item,
.service .service-item
{
flex: 0 0 50%;
max-width: 50%;
}
}

@media (max-width: 767px)
{
.contact .contact-form .col-6,
.contact .contact-info-item,
.portfolio .portfolio-item,
.service .service-item,
.about .about-content .experience,
.about .about-content .education,
.about .about-content .skills,
.about .about-content .personal-info .info-item,
.about .about.contant .personal-info
{
     flex: 0 0 100%;
     max-width: 100%;
}
}

@media (max-width: 1280px) {

.footer {
    padding: 4rem 0;
  }

  .footer-links a {
    font-size: 1rem;
  }

  .footer .title-sm {
    margin-bottom: 0.5rem;
  }

  .footer-input-wrap {
    height: 36px;
    margin-top: 0.8rem;
  }

  .footer-input {
    font-size: 0.9rem;
    padding: 0 1.2rem;
  }

  .input-arrow {
    font-size: 1.2rem;
  }

  .copyright .text {
    font-size: 0.95rem;
  }

  .followme h3 {
    font-size: 1.05rem;
  }

  .followme .footer-line {
    margin: 0 0.8rem;
  }

  .social-media a {
    font-size: 1.05rem;
  }

  .back-btn-wrap {
    margin-left: 1.3rem;
  }

  .back-btn {
    width: 43px;
    height: 43px;
    font-size: 0.9rem;
  }

  .back-btn-wrap:before {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 850px) {
    .footer .grid-4 {
        grid-template-columns: repeat(2, 1fr);
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
      }
    
      .footer-about {
        grid-column: 1 / 3;
      }
    
      .footer-newstletter {
        grid-column: 1 / 3;
      }
    
      .grid-4-col {
        margin: 1rem 0;
        padding: 0;
      }
    
      .footer-input-wrap {
        max-width: 300px;
        margin: 0.95rem auto 0 auto;
        grid-template-columns: auto 45px;
      }
    
      .bottom-footer {
        flex-direction: column;
        justify-items: center;
        align-items: center;
        padding: 1.5rem 0 0 0;
        margin-top: 2.5rem;
        position: relative;
      }
    
      .bottom-footer:before {
        content: "";
        position: absolute;
        width: 90%;
        max-width: 500px;
        height: 1px;
        background-color: #7b7b7b;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    
      .followme-wrap {
        margin-top: 0.8rem;
      }
}
    
